{#<div  class="modal-header" style="background: #252c3e; border-bottom: 2px solid #bcd531;">#}
    {#<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #EAEAEA">&times;</button>#}
    {#<h4 class="modal-title" style="color: #EAEAEA">Modifier votre produit</h4>#}
{#</div>#}
{#<div class="modal-body">#}
    {#<p>Do you want to save changes you made to document before closing?</p>#}
    {#<p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>#}
    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_end(form) }}#}
    {##}
{#</div>#}
{#<div class="modal-footer" style="background: #252c3e; border-top: 2px solid #bcd531;">#}
    {#<button type="button" class="btn btn-small" data-dismiss="modal">Fermer</button>#}
    {#<button type="submit" class="btn btn-theme btn-small">Modifier</button>#}
{#</div>#}