{% extends 'adminLayout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block navbar %}
    {% include 'admin/navbar.html.twig' %}
{% endblock %}
{% block body %}

<div class="w3-container" style="margin-left:300px;margin-top:43px;">

    <h1>Edit Homepage</h1>

    {{ include('homepage/_form.html.twig', {'button_label': 'Update'}) }}

    {#<a href="{{ path('admin') }}">retour à l'admin</a>#}

    {{ include('homepage/_delete_form.html.twig') }}

</div>
{% endblock %}
