<footer>
    <div class="container">
        <div class="row">

            <!-- footer column -->
            <div class="col-md-5 col-sm-6 col-xs-12">
                <ul class="social-media" style="margin-top: 0px; margin-bottom: 15px">
                    <li>
                        <a href="https://www.facebook.com/wildcodeschool/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/wildcodeschool"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/school/wild-code-school/"><i class="fa fa-linkedin"></i></a>
                    </li>
                    {#<li>#}
                        {#<a href="#"><i class="fab fa-youtube"></i></a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#"><i class="fa fa-instagram"></i></a>#}
                    {#</li>#}
                </ul>
                <p>Vous pouvez nous retrouver sur tous les réseaux sociaux</p>
            </div>
            <!-- end footer column -->



            <!-- footer column -->
            <div class="" style="text-align: center">
                <h3 class="footer-title">Lien GitHub de nos développeurs </h3>
                <nav>
                    <ul class="footer-list " style="display: inline-block ">
                        <li style="display: inline-block">
                            <a class="page-link col-md-5 col-sm-6 col-xs-12 f-1" href="http://github.com/CelineMi" target="_blank" >Céline</a>
                        </li>
                        <li style="display: inline-block">
                            <a class="page-link col-md-5 col-sm-6 col-xs-12 f-1" href="https://github.com/kr4v3N" target="_blank" >Fayçal</a>
                        </li>
                        <li style="display: inline-block">
                            <a class="page-link col-md-5 col-sm-6 col-xs-12 f-1" href="http://github.com/camilo2309" target="_blank" >Camilo</a>
                        </li>
                        <li style="display: inline-block">
                            <a class="page-link col-md-5 col-sm-6 col-xs-12 f-1" href="http://github.com/kevin693" target="_blank" >Kevin</a>
                        </li>
                        <li style="display: inline-block">
                            <a class="page-link col-md-5 col-sm-6 col-xs-12 f-1" href="http://github.com/Liiinx" target="_blank" >Felix</a>
                        </li>
                        <li style="display: inline-block">
                            <a class="page-link col-md-5 col-sm-6 col-xs-12 f-1" href="http://github.com/mrgfrederic" target="_blank" >Freddy</a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!--footer End-->