
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bear | The Perfect Tamplate</title>
    <meta name="description" content="Bear The Perfect Tamplate">
    <meta name="keywords" content="">
    <meta name="author" content="Digital Vichar">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <!--FONTS-->
    <link rel='shortcut icon' href="assets/images/fevicon.png" type="image/ico"/>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
    <meta name="theme-color" content="#BCD531">
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/icofont.css" rel="stylesheet">

    <!--ANIMATION-->
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <!-- BOOTSTRAP-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- MAIN STYLESHEET-->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<!-- site loader -->
<div class="loader"></div>
<!-- end site loader -->

<!--hero-slider-->
<div id="error-page" class="parallax-hero" data-parallax="scroll" data-image-src="assets/images/4238.jpg">
    <div class="slide-overlay opacity-5"></div>
    <div class="carousel-caption hero-caption error-page-caption">
        <div class="container">
            <h1 class="animated zoomIn big-caption">404</h1>
            <p class="caption-bottom animated fadeInUp">Page Not Found</p>
            <p class="error-content">la page n'existe pas, a été déplacé, <br>rénomé ou n'a jamais existé</p>
            <a class="btn-theme" href="{{ path('home') }}">Accueil</a>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap-min-js -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- waypoints-min-js -->
<script src="assets/js/waypoints.min.js"></script>
<!-- counterup-min-js -->
<script src="assets/js/jquery.counterup.min.js" ></script>
<!-- jquery.touchSwipe js -->
<script src="assets/js/jquery.touchSwipe.min.js"></script>
<!-- wow Animation js -->
<script src="assets/js/wow.js"></script>
<!-- owl carasol js -->
<script src="assets/js/owl.carousel.js"></script>
<!--smoth-scroll -->
<script src="assets/js/jquery.parallax.min.js"></script>
<!-- validate js -->
<script src="assets/js/jquery.validate.min.js"></script>
<!-- custom js -->
<script src="assets/js/bear.js"></script>


</body>
</html>